packages/auth/node_modules
packages/container/node_modules
packages/dashboard/node_modules
packages/marketing/node_modules

# Dist folder exclude
packages/auth/dist
packages/container/dist
packages/dashboard/dist
packages/marketing/dist

# Error logs
packages/auth/yarn-error.log
packages/container/yarn-error.log
packages/dashboard/yarn-error.log
packages/marketing/yarn-error.log