auth/node_modules
container/node_modules
dashboard/node_modules
marketing/node_modules

# Dist folder exclude
auth/dist
container/dist
dashboard/dist
marketing/dist

# Error logs
auth/yarn-error.log
container/yarn-error.log
dashboard/yarn-error.log
marketing/yarn-error.log